
                            <!-- Modal -->



  <div class="modal-dialog">
  <%= form_for(@user, :url => { :action => "update_password" }, :remote => true) do |f| %>





    <!-- Modal content-->
    <div class="modal-content form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <% if @user.errors.any? %>


    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert"><%= msg %></div>
    <% end %>

<% end %>
         <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label class = "control-label">Current Password</label>
              <div class="controls">

		    <%= f.password_field :current_password, autocomplete: "off", :placeholder => "", :class => "form-control",:required => true %>

              </div>
            </div>
         <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label class = "control-label">Password</label>
              <div class="controls">

		    <%= f.password_field :password, autocomplete: "off", :placeholder => "", :class => "form-control",:required => true %>

              </div>
            </div>
             <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label class = "control-label">Password Confirmation</label>
              <div class="controls">

		    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "", :class => "form-control",:required => true %>

              </div>
            </div>

       <%= f.submit "Save", :class => "btn btn-primary btn-cons m-t-10 pull-left" %>





             </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
<% end %>
  </div>
