<!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START PAGE HEADER WRAPPER -->
      <!-- START HEADER -->
      <div class="header  hidden-xs">
        <div class=" pull-left sm-table">
          <div class="header-inner">

          <div class="pull-right hidden-lg hidden-md p-t-10">
            <%= image_tag("avatar.jpg", :alt => "", :size => "32x32",  data: { src: "avatar.jpg", src_retina: "avatar.jpg" }) %>
            </div>
          <h3 class="pull-left p-l-30">Change your password?</h3>

            <div class="brand inline">

            </div>

          </div>
        </div>

      <!-- END HEADER -->
    </div>


    <!-- START PAGE-CONTAINER -->
    <div class="page-container pull-left">



  <div class="content">
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg">
            <div id="rootwizard">


              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active slide-left" id="tab1">

                    <div class="row">
                              <div class="padding-30">

                              <div class="col-md-7">


                                <%= f.label :password, "New password" %><br />
                                <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control"  %>





                              </div>
                             </div>
                            </div>


                            <div class="row">
                                      <div class="padding-30">

                                      <div class="col-md-7">


                            <%= f.label :password_confirmation, "Confirm new password" %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>

                          </div>
                         </div>
                        </div>



                  <div class="row row-same-height">

                            <div class="col-md-7">
                      <div class="padding-30">

						   	  <%= f.submit "Submit", :class => "btn btn-primary btn-cons pull-right" %>

                        </div>

                  </div>


                  </div>



                </div>



                </div>

        <% end %>
<%= render "devise/shared/links" %>

              </div>

            </div>

          </div>

          <!-- END CONTAINER FLUID -->
<!--         </div> -->
        <!-- END PAGE CONTENT -->



        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer ">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
<!--               <span class="hint-text">© </span> -->
<!--               <span class="font-montserrat">Easy Give Kiosk</span>. -->
<!--               <span class="hint-text">All rights reserved.</span> -->
              <span class="sm-block">© Easy Give Kiosk | <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a> </span>
            </p>
<!--
            <span class="small no-margin pull-right sm-pull-reset">
              <a href="settings.html" class="fa fa-cog"></a>
            </span>
-->
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END FOOTER -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
